{
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.html", "*.ejs"],
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": ["*.ts", "*.tsx", "*.js"],
			"options": {
				"tabWidth": 4
			}
		}
	]
}
