<div class="card">
  <div class="card-header">
    <div class="btn-group">
      <a href="/files<%- fileNode.path %>" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary pt-2"><b>Raw</b></a>
      <a href="/files<%- fileNode.path %>" target="_blank" rel="noopener noreferrer" class="btn btn-outline-secondary pt-2" download><b>Download</b></a>
    </div>
  </div>
  <div class="card-body">
    <img src="/files<%- fileNode.path %>" class="card-img" alt="Image">
  </div>
</div>