<ul class="list-group">
  <% Object.values(fileNode.children).forEach(function(file) { %>
    <li class="list-group-item">
      <a href="/files<%- file.path + queryString %>">
        <i class="fas <%- file.isDirectory ? 'fa-folder' : 'fa-file' %>"></i>
        <span><%= file.name %></span>
      </a>
    </li>
  <% }) %>
</ul>